extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rae Duncan

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi! My name is Rae, and I am studying to become a Full Stack JavaScript Developer. I currently work in Healthcare Administration where I am known as the resident "Tech Wiz". I am looking to update my skills and create a new career doing the thing I love - making things work. <br><br>

            | When I am not working, you will find me cuddled up on the couch with my two cats, hiking the beautiful trails on Vancouver Island, or doing my best at staying aboard my lovely Horse - Ali.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Pug
          li Node
          li Git
          li OOP
          li NPM
          li DOM Manipulation
          
        h6 Contact Info

        ul
          li rae-rae@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/rachel-feldman-08b75590/') LinkedIn
        a.button.expanded(href='https://github.com/Rae08') GitHub
        a.button.expanded(href='https://twitter.com/xTangerinesky') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  